elevenlabs
selenium
pyaudio
requests
sounddevice
numpy
asyncio
soundfile
uvicorn
fastapi
deepgram-sdk
python-dotenv
httpx
litellm
deepgram-sdk
pydub
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
notion_client
